/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(247, 247, 245);
  font: 10px Helvetica, Arial, sans-serif;
  text-align: left;
}

p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/* Common */
header {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 1);
  border-top: .3em solid #ff4700;
  box-shadow: 0 2px 2px rgba(50, 50, 50, 0.15);
  font-family: 'Alegreya Sans SC', sans-serif;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

header > h1 {
  float: left;
  font-size: 3em;
  font-weight: 400;
  margin: .25em 0 0 .5em;
}
@media (max-width: 310px){
  header > h1 {
    font-size: 1.8em;
    margin: .75em 0 0 .5em;
  }
}

header > h1 a {
  color: rgb(255, 255, 255);
  font-size: 1em;
}

header > h1 a:link, header > h1 a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

header > h1 a:hover { color: #ff4700; }

.site {
  background-color: rgb(255, 255, 255);
  width: 100%;
}

strong {
  color: #ff4700;
}

footer {
  border-top: 2px solid rgba(0, 0, 0, .6);
  color: #666;
  font-size: 1.2em;
  width: 100%;
}

footer > div {
  margin: 0 auto;
  text-align: center;
  width: 185px;
}

footer > div:first-child { font-size: 2em; }
footer > div:first-child p { margin-bottom: 0; }
footer > div:first-child a {
  color: rgb(0, 0, 0);
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

footer > div:first-child a:hover { color: #ff4700; }

.meta { font-size: 1.5em; font-family: 'Shadows Into Light Two', cursive; }

.content_wrapper {
  margin: 0 auto;
  max-width: 700px;
  padding: 10em 0 2em 0;
  width: 80%;
}

.content_wrapper > h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 3em;
  margin-bottom: 1em;
}

h2 {
  font-size: 3em;
  line-height: 1.5em;
  font-family: 'Oxygen', sans-serif;
}

h3 {
  font-size: 2.5em;
  color: #ff4700;
  margin: 1em 0;
}

h4 {
 font-size: 2em;
 color: rgb(0, 0, 0);
 margin: 1em 0;
}

/* BLOCKS */
.attention {
  background-color: rgb(245, 205, 205);
  border-left: 10px solid rgb(136, 0, 0);
}

.info {
  background-color: rgb(221, 245, 205);
  border-left: 10px solid rgb(60, 136, 0);
}

.warning {
  background-color: rgb(252, 255, 182);
  border-left: 10px solid rgb(255, 224, 0);
}

.attention p, .info p, .warning p {
  display: inline;
}

.attention, .info, .warning {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

/* Home */
.home_wrapper {
  padding: 50px 0 1em;
  width: 100%;
}

.about {
  background: url('/assets/diagmonds.png');
  color: rgb(255, 255, 255);
  font-family: 'Oxygen', sans-serif;
  font-size: 2em;
  margin-bottom: 2em;
  padding: .5em 0;
}
.about > div p            { margin: .25em 0; }
.about img                { max-width: 150px; }
.about > div              { text-align: center; }
.about > div:first-child  { width: 100%; }
.about > div:last-child   { padding: 0 .5em; }

.about strong > a, .about strong > a:visited, .about strong > a:link {
  color: #ff4700;
}

.last_post_container {
  margin: 0 auto;
  max-width: 700px;
  width: 80%;
}

.last_post_container h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 2.5em;
  margin-bottom: 1em;
}

.last_post_container > p:last-child {
  font-family: 'Oxygen', sans-serif;
  font-size: 1.6em;
}

.last_post_container > p:last-child a:link    { color: rgb(0, 0, 0); }
.last_post_container > p:last-child a:visited { color: rgb(0, 0, 0); }
.last_post_container > p:last-child a:hover   { color: #ff4700; }

.post_excerpt {
  background-color: rgb(247, 247, 245);
  box-shadow: .1em .1em .5em #888888;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.6em;
  line-height: 1.5em;
  margin-bottom: 2em;
  padding: 2em;
}

.post_excerpt span {
  color: #5E5E5E;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 1em;
}

.post_excerpt > a:first-of-type { margin-right: .5em; }

/* Archive */
ul.posts {
  font-size: 1em;
  list-style-type: none;
}

/* Post */
#twitter-widget-0 { float: right; }
.post       { font-family: 'Oxygen', sans-serif; margin-bottom: 5em; }
.post img   { max-width: 100%; }
.post > hr  { margin: 1em 0; }

.post p, .post li {
  font-size: 1.6em;
  line-height: 1.5em;
}

/* standard */
.post pre {
  overflow-x: scroll;
  background-color: rgba(238, 238, 255, 0.1);
  border: 1px solid #ddd;
  font-size: 1.4em;
  padding: 1em;
}

.post ul, .post ol { margin-left: 1.35em; }

.post code {
  background-color: rgba(238, 238, 255, 0);
  border: 1px solid #ddd;
  padding: 0 .2em;
}

.post pre code { border: none; }

/* terminal */
.post pre.terminal {
  background-color: #333;
  border: 1px solid #000;
  color: #FFF;
}

.post pre.terminal code { background-color: #333; }

span.tag {
  background-color: #3498db;
  border-radius: .5em;
  box-shadow: .1em .1em .1em #888888;
  color: rgb(255, 255, 255);
  font-family: 'Oxygen', sans-serif;
  font-size: .8em;
  padding: .5em 1em;
}

/* Pagination */
.pagination {
  text-align: center;
  font-size: 1.6em;
  font-family: 'Oxygen', sans-serif;
}

.pagination .previous, .pagination .next {
  background-color: #ff4700;
  border: 1px solid #FF0000;
  border-radius: 0.25em;
  color: rgb(255, 255, 255);
  display: inline-block;
  margin: 0.25em 0;
  padding: .5em 0;
  text-decoration: none;
  width: 5em;

  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

.pagination span.previous, .pagination span.next {
  background-color: rgb(219, 219, 219);
  border: none;
  color: rgb(163, 163, 163);
  box-shadow: none;
}

.pagination a.previous:hover, .pagination a.next:hover {
  background-color: #FF6A30;
}

.pagination span.page_number {
  margin: 0 .5em;
}

/* 404 */
p.error {
  font-size: 3em;
  font-family: 'Shadows Into Light Two', cursive;
  text-align: center;
}

p.error > a, p.error > a:link, p.error > a:visited {
  font-size: 1;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

p.error img { max-height: 1em; }
