---
---
@import "settings";

@import "reset";
@import "fonts";
@import "mixins";
@import "sidebar";
@import "frontpage";
@import "archive";
@import "footer";

i {
  display: inline-block;
  position: static;
  min-width: 20px;
  margin: 0 5px;
  text-align: center;
}

.circle {
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: $complementary-color;
  text-align: center;
  margin: 0 auto;
}

.circle.tiny {
  width: 50px;
  height: 50px;
}

.circle.large {
  width: 200px;
  height: 200px;
}

.menu-slider {
  background-color: $secondary-color;
  cursor: pointer;
  height: 100%;
  left: 0;
  padding-top: 15px;
  position: fixed;
  top: 0;
  width: 50px;
}

.menu-slider a {
  color: $white;
  display: block;
  font-size: 30px;
  text-align: center;
}

.menu-slider a i {
  margin: 0;
}

.main-content {
  padding-left: 50px;
}

strong {
  color: $complementary-color;
}

.content-wrapper {
  font-family: $sans-serif-font-family;
  margin: 0 auto;
  padding: 40px 20px 50px;
  max-width: 700px;
}

.content-wrapper h1 {
  margin-bottom: 10px;
}

.content-wrapper p a{
  color: $complementary-color;
  text-decoration: none;
}

.content-wrapper p a:hover {
  text-decoration: underline;
}

.post-comments-wrapper {
  font-size: 11px;
  display: inline-block;
  vertical-align: text-top;
}

.post-comments-wrapper i {
  font-size: 15px;
}

.read-more {
  margin-top: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
}

h2 {
  font-size: 25px;
}

h3 {
  color: $secondary-color;
  font-size: 20px;
  margin: 10px 0;
}

h4 {
 color: rgb(0, 0, 0);
 font-size: 20px;
 margin: 10px 0;
}

/*
 *  ==================================
 * | BLOCKS
 *  ==================================
 */
 .attention {
  background-color: rgb(245, 205, 205);
  border-left: 10px solid rgb(136, 0, 0);
}

.info {
  background-color: rgb(221, 245, 205);
  border-left: 10px solid rgb(60, 136, 0);
}

.warning {
  background-color: rgb(252, 255, 182);
  border-left: 10px solid rgb(255, 224, 0);
}

.attention p, .info p, .warning p {
  display: inline;
}

.attention, .info, .warning {
  margin: 15px 10px;
  padding: 5px 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
/* =================================== */


/*
 *  ==================================
 * | POSTS
 *  ==================================
 */

.post-meta-data {
  display: table;
  margin-top: 10px;
}

.meta {
  display: table-cell;
  font-family: $handwritten;
  font-size: 15px;
  padding-right: 20px;
  vertical-align: middle;
}

#twitter-widget-0 {
  display: table-cell;
}

.post {
  font-family: $sans-serif-font-family;
  padding: 20px 0 50px;
}

.post img {
  max-width: 100%;
}

.post > hr {
  margin: 10px 0;
}

.post p, .post li {
  font-size: 16px;
}

.post p {
  margin-top: 10px;
}

.post ul {
  padding: 10px 0 10px 10px;
}
/* =================================== */


/*
 *  ==================================
 * | CODE
 *  ==================================
 */
 .post pre {
  overflow-x: scroll;
  background-color: rgba(238, 238, 255, 0.1);
  border: 1px solid #ddd;
  font-size: 14px;
  padding: 10px;
}

.post ul, .post ol {
  margin-left: 13.5px;
}

.post code {
  background-color: rgba(238, 238, 255, 0);
  border: 1px solid #ddd;
  padding: 0 2px;
}

.post pre code {
  border: none;
}

.post pre.terminal {
  background-color: #333;
  border: 1px solid #000;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
/* =================================== */

/*
 *  ==================================
 * | PAGINATION
 *  ==================================
 */
 .pagination {
  font-family: $sans-serif-font-family;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

.pagination .previous, .pagination .next {
  background-color: $secondary-color;
  border: 1px solid #FF0000;
  border-radius: 2.5px;
  color: rgb(255, 255, 255);
  display: inline-block;
  margin: 2.5px 0;
  padding: 10px 0;
  text-decoration: none;
  width: 75px;

  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

.pagination span.previous, .pagination span.next {
  background-color: rgb(219, 219, 219);
  border: none;
  color: rgb(163, 163, 163);
  box-shadow: none;
}

.pagination a.previous:hover, .pagination a.next:hover {
  background-color: #FF6A30;
}

.pagination span.page_number {
  margin: 0 10px;
}
/* =================================== */

p.error {
  font-size: 30px;
  font-family: $handwritten;
  text-align: center;
}

p.error > a, p.error > a:link, p.error > a:visited {
  font-size: 1;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

p.error img {
  max-height: 10px;
}
