/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(247, 247, 245);
  font: 10px Helvetica, Arial, sans-serif;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; }

p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#home > h1 {
  margin-bottom: 1em;
  font-size: 2em;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  font-size: 1.6em;
  line-height: 1.5em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

header {
  position: fixed;
  width: 100%;
  padding: 1em 0;

  border-top: .3em solid #ff4700;
  box-shadow: 0 2px 2px rgba(50, 50, 50, 0.15);
  background-color: rgba(0, 0, 0, 1);
}

header > h1 { 
  margin-left: .5em;

  font-size: 3.6em; 
  font-weight: 100; 
  font-family: 'Alegreya Sans SC', sans-serif; 
}

header > h1 a {
  font-size: 1em;
  color: rgb(255, 255, 255);
}

header > h1 a:link, header > h1 a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.site {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.content_wrapper {
  margin: 0 auto;
  padding: 10em 0 1em 0;

  width: 80%;
  max-width: 800px;

  text-align: justify;  
  line-height: 1.5em;
}

strong {
  color: #ff4700;
}

footer {
  width: 100%;
  color: #666;
  border-top: 4px solid rgba(0, 0, 0, .6);
  font-size: 1.2em;
}

footer > div {
  padding: 1em 0;
  margin-left: 1em;
}

footer > div:last-child {
  padding: 0;
}

footer .contact a {
  color: #8085C1;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post { font-family: 'Oxygen', sans-serif; }

h2 { font-size: 2em; line-height: 1em; }
h3 { font-size: 1.8em; color: #ff4700; text-decoration: underline;}

.post p, .post li {
  font-size: 1.6em;
  line-height: 1.5em;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: rgba(238, 238, 255, 0.1);
  padding: 1em;

  white-space: pre-wrap;                 /* CSS3 browsers  */
  white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
  white-space: -pre-wrap;                /* Opera 4 thru 6 */
  white-space: -o-pre-wrap;              /* Opera 7 and up */
  word-wrap: break-word;                 /* IE 5.5+ and up */
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  font-size: 1.5em;
  border: 1px solid #ddd;
  background-color: rgba(238, 238, 255, 0);
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
