/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(247, 247, 245);
  font: 10px Helvetica, Arial, sans-serif;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; }

p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
header {
  position: fixed;
  width: 100%;
  height: 50px;

  font-weight: 100;
  font-family: 'Alegreya Sans SC', sans-serif;

  border-top: .3em solid #ff4700;
  box-shadow: 0 2px 2px rgba(50, 50, 50, 0.15);
  background-color: rgba(0, 0, 0, 1);
}

header > h1 {
  margin: .5em 0 0 .5em;
  float: left;

  font-size: 2em;
}

header > h1 a {
  font-size: 1em;
  color: rgb(255, 255, 255);
}

header > h1 a:link, header > h1 a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.site {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

strong {
  color: #ff4700;
}

footer {
  width: 100%;
  color: #666;
  border-top: 4px solid rgba(0, 0, 0, .6);
  font-size: 1.2em;
}

footer > div {
  width: 185px;
  margin: 0 auto;
  text-align: center;
}

h2 { font-size: 3em; line-height: 1.5em; }
h3 { font-size: 2.5em; color: #ff4700; }

.meta { font-size: 1.5em; font-family: 'Shadows Into Light Two', cursive; }

.content_wrapper {
  margin: 0 auto;
  padding: 10em 0 2em 0;

  width: 80%;
  max-width: 700px;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.home_wrapper {
  width: 100%;
  padding: 53px 0 1em;
}

.about {
  padding: .5em 0;
  margin-bottom: 2em;
  font-size: 2em;
  font-family: 'Oxygen', sans-serif;
  color: rgb(255, 255, 255);
  background: url('/assets/wild_oliva_bg.png');
}
.about > div p { margin: .25em 0; }
.about img     { max-width: 150px; }
.about > div   { text-align: center; }
.about > div:first-child { width: 100%; }
.about > div:last-child  { padding: 0 .5em; }

.last_post_container {
  width: 80%;
  max-width: 700px;

  margin: 0 auto;
}

.last_post_container h1 {
  margin-bottom: 1em;
  font-size: 2em;
}

.last_post_container > p:last-child {
  font-size: 1.6em;
  font-family: 'Oxygen', sans-serif;
}

.last_post_container > p:last-child a:link {
  color: rgb(0, 0, 0);
}

.last_post_container > p:last-child a:visited {
  color: rgb(0, 0, 0);
}

.post_excerpt {
  padding: 2em;
  margin-bottom: 2em;

  font-family: 'Oxygen', sans-serif;
  font-size: 1.6em;
  line-height: 1.5em;

  background-color: rgb(247, 247, 245);
  box-shadow: .1em .1em .5em #888888;
}

.post_excerpt span {
  color: #5E5E5E;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 1em;
}

.post_excerpt span.tag {
  padding: .1em .5em;
  border-radius: .5em;
  box-shadow: .1em .1em .1em #888888;

  background-color: #3498db;
  color: rgb(255, 255, 255);

  font-family: 'Oxygen', sans-serif;
  font-size: .8em;
}

.post_excerpt > a:first-of-type {
  margin-right: .5em;
}

/*****************************************************************************/
/*
/* Archive
/*
/*****************************************************************************/
.content_wrapper > h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

ul.posts {
  list-style-type: none;
  font-size: 1em;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
.post { font-family: 'Oxygen', sans-serif; }

.post img { max-width: 100%; }

.post p, .post li {
  font-size: 1.6em;
  line-height: 1.5em;
}

/* standard */
.post pre {
  font-size: 1.2em;

  border: 1px solid #ddd;
  background-color: rgba(238, 238, 255, 0.1);
  padding: 1em;

  white-space: pre-wrap;                 /* CSS3 browsers  */
  white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
  white-space: -pre-wrap;                /* Opera 4 thru 6 */
  white-space: -o-pre-wrap;              /* Opera 7 and up */
  word-wrap: break-word;                 /* IE 5.5+ and up */
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: rgba(238, 238, 255, 0);
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* 404
/*
/*****************************************************************************/
p.error {
  font-size: 3em;
  font-family: 'Shadows Into Light Two', cursive;
  text-align: center;
}

p.error > a, p.error > a:link, p.error > a:visited {
  font-size: 1;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

p.error img {
  max-height: 1em;
}
