<div class="page-footer">
  <footer>
    <div class="about">
      <p>Personal website of <strong>Sergio Álvarez</strong>. Software engineer specialized in web technologies and focused on quality software development.</p>
      <p><i class="fa fa-map-marker"></i>Currently based in Asturias (Spain) by working as a <em>full-stack</em> engineer in <a href="http://www.sweetspotintelligence.com/en/">Sweetspot Intelligence</a>.</p>
    </div>

    <div class="social">
      <h1>Contact</h1>
      <p><i class="fa fa-envelope-o"></i>sergio@codecoolture.com ~ <span class="support-text">Do you want to work with me? <i class="fa fa-smile-o"></i></span></p>
      <p><a href="http://twitter.com/varezhh"><i class="fa fa-twitter"></i>@varezHH</a></p>
      <p><a href="http://github.com/sergio-alvarez"><i class="fa fa-github"></i>github.com/sergio-alvarez</a></p>
      <p><a href="/rss.xml"><i class="fa fa-rss"></i>rss.xml</a></p>
    </div>
  </footer>
</div>
