<div class="page-footer">
  <footer>
    <p>Sergio Álvarez Suárez</p>
    <p>sergio@codecoolture.com ~ <span class="support-text">Do you want to work with me? <i class="fa fa-smile-o"></i></span></p>

    <div class="social">
      <h1>Social</h1>
      <p><a href="http://twitter.com/varezhh"><i class="fa fa-twitter"></i>@varezHH</a></p>
      <p><a href="http://github.com/sergio-alvarez"><i class="fa fa-github"></i>github.com/sergio-alvarez</a></p>
      <p><a href="/rss.xml"><i class="fa fa-rss"></i>Blog posts</a></p>
    </div>
  </footer>
</div>
