<div class="page-footer">
  <footer>
    <div class="about">
      <h1>About</h1>
      <p>Personal website of <strong>Sergio Álvarez</strong>. Software engineer specialized in web technologies and focused on quality software development.</p>
      <p><i class="fa fa-map-marker"></i>Currently based in Asturias (Spain) by working as a <em>full-stack</em> engineer in <a href="http://www.sweetspotintelligence.com/en/">Sweetspot Intelligence</a> (among other nerdy things).</p>
    </div>

    <div class="social">
      <div>
        <a href="mailto:sergio@codecoolture.com"><i class="fa fa-envelope"></i></a>
      </div>
      <div>
        <a href="https://twitter.com/varezHH" title="Twitter"><i class="fa fa-twitter"></i></a>
      </div>
      <div>
        <a href="https://github.com/sergio-alvarez" title="Github"><i class="fa fa-github"></i></a>
      </div>
      <div>
        <a href="/rss.xml" title="rss.xml"><i class="fa fa-rss"></i></a>
      </div>
    </div>
  </footer>
</div>
