.about {
  background-color: $about-background-color;
  display: flex;
  flex-direction: column;
}

.about__title,
.about__title__underscore {
  color: $work-background-color;
}

.about__text {
  color: $work-background-color;
}

.about__text__highlight {
  background-color: $work-background-color;
  color: $about-background-color;
}

.about__links {
  flex: 1;
  margin-top: 50px;
}

.about__links__link {
  margin-bottom: 5px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.about__link {
  text-decoration: none;
}

%base-footer-styles {
  color: lighten($about-background-color, 50%);
  font-family: $sans-serif-font-family;
  font-weight: 100;
  text-align: center;
}

.about__footer {
  @extend %base-footer-styles;
}

.about__footer__subtitle {
  @extend %base-footer-styles;

  font-size: 14px;
  margin-top: 5px;
}
