.about {
  background-color: $about-background-color;
}

.about__content {
  display: flex;
  flex-direction: column;
  height: calc(100% - #{$btn-size});
  width: 100%;
}

.about__title,
.about__title__underscore {
  color: $work-background-color;
}

.about__text {
  color: $work-background-color;
}

.about__text__highlight {
  background-color: $work-background-color;
  color: $about-background-color;
}

.about__links {
  flex: 1;

  @include respond('slim') {
    margin: 10px 0 20px;
  }
}

.about__links__link {
  margin-bottom: 5px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.about__link {
  border-bottom: 3px solid $work-background-color;
  box-shadow: inset 0 -3px 0 $work-background-color;
  color: $work-background-color;
  text-decoration: none;

  @include respond('slim') {
    box-shadow: inset 0 -1px 0 $work-background-color;
  }
}

.about__links__link .about__link {
  @include respond('slim') {
    font-size: 14px;
  }
}

%base-footer-styles {
  color: lighten($about-background-color, 50%);
  font-family: $sans-serif-font-family;
  font-weight: 300;
  text-align: center;
}

.about__footer {
  @extend %base-footer-styles;

  font-size: 12px;
}

.about .nav-btn {
  color: $work-background-color;
}
