$btn-padding-size: 10px;
$btn-border-size: 3px;
$btn-font-size: 16px;

$btn-size: ($btn-padding-size * 2) + ($btn-border-size * 2) + $btn-font-size;

.btn {
  border-width: $btn-border-size;
  border-style: solid;
  display: inline-block;
  font-size: $btn-font-size;
  padding: $btn-padding-size;

  cursor: pointer;
  text-decoration: none;
}

.btn--is-large {
  padding: 20px 50px;

  @include respond('slim') {
    padding: 15px 35px;
  }
}
