@include sticky-footer(200px);
@include respond(all-phones) {
  @include sticky-footer(350px);
}

.page-footer {
  background-color: lighten($primary-color, 10%);
  font-family: $sans-serif-font-family;
  padding-left: 50px;

  footer {
    color: $white;
    padding: 20px 0;

    > div {
      width: calc(50% - 20px);
      float: left;
      padding: 0 10px;

      &:first-child {
        padding-top: 20px;
      }

      @include respond(all-phones) {
        width: calc(100% - 20px);
        float: none;

        &:first-child {
          padding-top: 10px;
        }

        &:last-child {
          margin-top: 10px;
        }
      }
    }

    p {
      font-size: 14px;

      a {
        color: $white;
        text-decoration: none;
      }

      span {
        @include support-text;
      }
    }

    .about {
      p {
        @include support-text;
        text-align: justify;
        max-width: 350px;
        margin: 0 auto;

        @include respond(all-phones) {
          margin: 0;
        }
      }

      i {
        margin-left: 0;
        text-align: left;
        min-width: inherit;
      }
    }

    .social {
      h1 {
        @include sticky-title(18px, -1px, close);
        font-weight: 700;
        margin: 0 0 10px;
      }

      p {
        margin-bottom: 5px;

        i {
          margin-left: 0;
          text-align: left;
        }
      }
    }
  }
}
