@include sticky-footer(220px);
@include respond(all-phones) {
  @include sticky-footer(320px);
}

.page-footer {
  background-color: lighten($primary-color, 10%);
  font-family: $sans-serif-font-family;
  padding-left: 50px;

  footer {
    color: $white;

    > div {
      width: calc(50% - 20px);
      float: left;
      padding: 10px;

      @include respond(all-phones) {
        width: calc(100% - 20px);
        float: none;
      }
    }

    p span {
      @include support-text;
    }

    p, a {
      font-size: 14px;
      color: $white;
      text-decoration: none;
    }

    .about {

      h1 {
        @include sticky-title(18px, -1px, close);
        font-weight: 700;
      }

      h1, p {
        max-width: 350px;
        margin: 0 auto;

        @include respond(all-phones) {
          margin: 0;
        }
      }

      p {
        @include support-text;
        text-align: justify;
        font-style: normal;
      }

      a {
        border-bottom: 1px dotted $white;
      }

      i {
        margin-left: 0;
        text-align: left;
        min-width: inherit;
      }
    }

    .social {
      display: -webkit-flex;
      display: flex;

      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;

      justify-content: center;

      > div {
        padding: 10px 15px;
        background-color: darken($primary-color, 1%);
        a {
          font-size: 20px;

          i {
            display: inline;
          }
        }
      }
    }
  }
}
