.front-page {
  background-color: $primary-color;
  font-weight: 300;

  h3 {
    @include sticky-title(65px, -5px, large);
    font-weight: 700;
    line-height: 59px;
    margin-bottom: 50px;
    text-align: center;
  }

  p {
    color: $white;

    &.handwritten {
      font-family: $handwritten;
    }
  }
}

.summary {
  p {
    font-size: 18px;
  }
}

.slogan {
  text-align: center;
  margin-top: 30px;
}

.stamps-collection-title {
  font-weight: 700;
  font-size: 14px;
  margin: 30px 0;
  text-transform: uppercase;
  text-align: center;
}

.stamps {

  display: -webkit-flex;
  -webkit-flex-direction: row;

  display: flex;
  flex-direction: row;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  justify-content: space-around;

  .stamp {
    background-color: darken($primary-color, 5%);
    color: $white;
    display: table;
    height: 150px;
    margin-top: 10px;
    text-align: center;
    width: 200px;

    > div {
      display: table-cell;
      vertical-align: middle;
    }

    i {
      font-size: 35px;
    }

    p {
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: -1px;
    }

    @include respond("max-width: 610px") {
      width: 105px;
      height: 100px;

      i {
        font-size: 25px;
      }

      p {
        font-size: 13px;
      }
    }
  }
}

.resume {

  a {
    color: $white;
  }

  > div {
    margin-bottom: 30px;

    > div {
      section {
        border-left: 5px solid white;
        margin-top: 10px;
        padding-left: 10px;

        p {
          font-size: 15px;
        }
      }

      h4 {
        @include sticky-title(25px, -1px, close);

        i {
          margin-left: 0;
          text-align: left;
        }
      }

      ul {
        list-style-type: none;
        list-style-position: inside;

        li {
          color: $white;
          margin-bottom: 3px;
          font-size: 15px;

          i {
            font-size: 20px;
            margin: 0;
          }
        }

        ul {
          list-style-type: circle;
        }
      }

      .education-item {
        margin-top: 30px;

        &:first-of-type {
          margin-top: 0;
        }
      }

      header {
        h5 {
          color: $white;
          font-size: 18px;
        }

        span {
          @include support-text;
          font-size: 14px;
        }
      }
    }

    .personal-info {
      p {
        font-size: 14px;
        line-height: 30px;

        &.title {
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 700;
          letter-spacing: -1px;
        }

        &.subtitle {
          @include support-text;

          font-size: 14px;
          line-height: 10px;

          margin-bottom: 15px;
        }

        i {
          margin-left: 0;
          text-align: left;
        }
      }
    }
  }
}

blockquote {
  color: $grey;
  font-style: italic;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";

  &:before {
    content: open-quote;
    font-size: 40px;
    line-height: 10px;
    margin-right: 2.5px;
    vertical-align: -10px;
  }

  p {
    display: inline;
  }

  footer {
    margin-top: 10px;
  }
}
