.home {
  font-family: $sans-serif-font-family;
  padding: 20px;

  background-color: $home-background-color;
}

.home__wrapper {
  display: table;
  height: 100%;
  width: 100%;

  @include respond('slim') {
    margin-top: 100px;
  }
}

.home__wrapper__content {
  display: table-cell;
  vertical-align: middle;
}

.home__talk {
  float: right;

  color: $work-background-color;
  text-decoration: none;
}

.home__title {
  font-size: 72px;
  font-weight: 100;
  text-transform: uppercase;

  @include respond('slim') {
    font-size: 32px;
  }
}

.home__title__strong {
  font-weight: 700;
}

.home__subtitle {
  font-size: 120px;
  font-weight: 700;
  text-transform: uppercase;

  @include respond('slim') {
    font-size: 48px;
  }
}

.home__title,
.home__subtitle {
  margin-bottom: 50px;
  text-align: center;

  color: $work-background-color;
}

.home__buttons {
  text-align: center;

  @include respond('slim') {
    margin-bottom: 30px;
  }
}

.home__buttons__button {
  color: $complementary-color;
  font-weight: 400;

  text-transform: uppercase;

  @include respond('slim') {
    margin-top: 10px;
  }
}

.home__buttons__button:first-of-type {
  margin-right: 10px;
}

.home__buttons__button:hover {
  background-color: $complementary-color;
  border-color: $complementary-color;
  color: $home-background-color;
}
