.archive-post-wrapper {
  background-color: $card-background;
  box-shadow: 1px 1px 5px $card-shadow-color;
  margin-bottom: 32px;
  padding: 32px;

  > a, > h1 a {
    color: $black;
    text-decoration: none;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;

    &:hover {
      color: $secondary-color;
    }
  }

  .post {
    padding: 0;
  }

  .meta {
    display: inline;
  }
}

.pagination-wrapper {
  font-family: $sans-serif-font-family;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;

  .pagination-button {
    background-color: $secondary-color;
    border-radius: 2.5px;
    border: 2px solid $secondary-color;
    color: $white;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 2px;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    width: 130px;

    -webkit-transition: background-color .25s;
    -moz-transition: background-color .25s;
    -o-transition: background-color .25s;
    transition: background-color .25s;

    &::hover {
      background-color: #FF6A30;
    }

    &.disabled {
      background-color: rgb(219, 219, 219);
      border: none;
      box-shadow: none;
      color: rgb(163, 163, 163);
    }

    i {
      margin: 0;
    }

    @include respond(all-phones) {
      width: 75px;

      i {
        display: none;
      }
    }
  }

  .page-number {
    margin: 0 10px;
  }
}
