* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $sans-serif-font-family;
  font-size: 10px;
  font-weight: 300;
  text-align: left;
}

a, a:visited {
  color: #00a;
}

a:hover {
  color: #000;
}
