$primary-color: #3c3936;
$secondary-color: #ff4700;
$complementary-color: #ff7e4c;
$grey: #d8d4d4;
$white: #ffffff;

$serif-font-family: 'Patua One', cursive;
$sans-serif-font-family: 'Open Sans', sans-serif;
// $sans-serif-font-family: 'Lato', sans-serif;
// Responsiveness Settings
$document-width: 940px;
$min-device-width: 320px;        // iPhone Portrait
$tablet-device-width: 768px;     // iPad Portrait
$max-device-width: 2880px;       // Max Document Size
