$primary-color: #2c3e50;
$secondary-color: #ecf0f1;
$complementary-color: #0c64b5;

$accent-color: #e74c3c;

$sans-serif-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$serif-font-family: 'Merriweather', serif;
