.sidebar {
  background-color: $complementary-color;
  font-family: $serif-font-family;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 250px;
  text-align: right;

  header {
    padding: 15px;

    .avatar {
      float: right;
      width: 160px;
      text-align: center;
      margin-bottom: 10px;
      img {
        max-width: 80px;
        border-radius: 50%;
      }
    }

    h1 {
      font-size: 25px;
      font-weight: 400;

      a, a:link, a:visited {
        color: $white;
        text-decoration: none;
      }
    }

    p {
      color: $white;
      font-size: 15px;
    }
  }

  nav {
    margin-top: 10%;
    ul {
      li {
        font-family: $sans-serif-font-family;
        list-style-type: none;
        line-height: 35px;
        letter-spacing: -1px;

        a, a:link, a:visited {
          @include darken-when-hover();

          padding-right: 15px;
          color: $white;
          font-size: 15px;
          font-weight: 700;
          text-decoration: none;
          text-transform: uppercase;

          &, i {
            font-weight: 700;
          }
        }

        @include respond(all-phones){
          line-height: 70px;
        }
      }
    }
  }
}
