.about {
  min-height: 700px;
  height: 100vh;
  padding: 0;

  background-image: url('../assets/images/sergio.jpg');
  background-position: left;
  background-size: cover;

  @include respond('slim') {
    min-height: 0;
    height: auto;
  }
}

.about__colorizer {
  height: calc(100% - 40px);
  padding: 20px;
  background-color: rgba($about-background-color, 0.2);

  @include respond('slim') {
    height: auto;
  }
}

.about__content {
  height: calc(100% - #{$btn-size});
}

.about__title,
.about__title__underscore {
  color: $work-background-color;
}

.about__background {
  display: inline-block;
  margin-bottom: 15px;
  padding: 10px;

  @include respond('slim') {
    background-color: rgba($home-background-color, 0.5);
  }
}

.about__text {
  color: $work-background-color;
}

.about__text__highlight {
  padding: 0;
}

.about__links {
  display: flex;

  @include respond('slim') {
    justify-content: center;
  }
}

.about__links__link {
  padding: 10px 15px;

  background-color: $work-background-color;
  color: $home-background-color;
}

.about__links__link__icon {
  display: inline-block;
  font-size: 24px;
  height: 24px;
  width: 24px;
}

.about__link {
  color: $work-background-color;
  text-decoration: underline;
  text-decoration-skip: ink;
}

.about .panel__nav-btn {
  color: $work-background-color;
}

.about .panel__nav-btn:hover {
  background-color: $work-background-color;
  border-color: $work-background-color;
  color: $home-background-color;
}
