$about-background-image-breakpoint: 1024px;

.about {
  --highlight-background-color: $work-background-color;
  --highlight-color: $home-background-color;

  min-height: 700px;
  height: 100vh;
  padding: 0;

  background-image: url('../assets/images/sergio.jpg');
  background-position: left;
  background-size: cover;
}

.about__colorizer {
  height: calc(100% - 40px);
  padding: 20px;
  background-color: rgba($about-background-color, 0.2);
}

.about__content {
  height: calc(100% - #{$btn-size});
}

.about__title,
.about__title__underscore {
  color: $work-background-color;
}

.about__background {
  display: inline-block;
  margin-bottom: 15px;
  padding: 10px;
}

.about__text {
  color: $work-background-color;
}

.about__links {
  display: flex;
}

.about__links__link {
  padding: 10px 15px;

  background-color: $work-background-color;
  color: $home-background-color;
}

.about__links__link__icon {
  display: inline-block;
  font-size: 24px;
  height: 24px;
  width: 24px;
}

.about__link {
  color: $work-background-color;
  text-decoration: underline;
  text-decoration-skip: ink;
}

.about .panel__nav-btn {
  color: $work-background-color;
}

.about .panel__nav-btn:hover {
  background-color: $work-background-color;
  border-color: $work-background-color;
  color: $home-background-color;
}

@include respond('slim') {
  .about {
    min-height: 0;
    height: auto;
  }

  .about__colorizer {
    height: auto;
  }

  .about__background {
    background-color: rgba($home-background-color, 0.5);
  }

  .about__links {
    justify-content: center;
  }
}

@media only screen and (max-width: $about-background-image-breakpoint) and (orientation: portrait) {
  .about {
    background-position: center;
  }
}
