.home {
  font-family: $sans-serif-font-family;
  padding: 20px;

  background-color: $home-background-color;
}

.home__wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.home__wrapper__content {
  display: table-cell;
  vertical-align: middle;
}

.home__talk {
  --btn-color: #{$work-background-color};
  --btn-hover-color: #{$work-background-color};

  float: right;

  text-transform: capitalize;
}

.home__title {
  font-size: 72px;
  font-weight: 100;
  text-transform: uppercase;
}

.home__title__strong {
  font-weight: 700;
}

.home__subtitle {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.home__title,
.home__subtitle {
  letter-spacing: -2px;
  line-height: 90px;
  text-align: center;

  color: $work-background-color;
}

.home__buttons {
  margin-top: 50px;
  text-align: center;
}

.home__buttons__button {
  --btn-color: #{$complementary-color};
  --btn-hover-background-color: #{$complementary-color};
  --btn-hover-color: #{$home-background-color};

  padding: 20px 50px;
}

.home__buttons__button:first-of-type {
  margin-right: 10px;
}

@include respond('slim') {
  .home__wrapper {
    margin-top: 100px;
  }

  .home__title,
  .home__subtitle {
    font-size: 32px;
    line-height: 50px;
  }

  .home__buttons {
    margin-bottom: 30px;
  }

  .home__buttons__button {
    margin-top: 10px;
    padding: 15px 35px;
  }
}
