.home {
  font-family: $sans-serif-font-family;
  padding: 20px;

  background-color: $primary-color;
}

.home__wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.home__talk {
  --btn-color: #{$secondary-color};
  --btn-hover-color: #{$secondary-color};

  float: right;

  text-transform: capitalize;
}

.home__title {
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
}

.home__subtitle {
  font-size: 48px;
  font-weight: 100;
  text-transform: uppercase;
}

.home__title,
.home__subtitle {
  line-height: 90px;
  text-align: center;

  color: $secondary-color;
}

.home__bicons {
  --bicon-bg-color: #{$secondary-color};
  --bicon-color: #{$primary-color};

  display: flex;
  margin-top: 50px;
}

.home__buttons {
  margin-top: 50px;
  text-align: center;
}

.home__buttons__button {
  --btn-color: #{$accent-color};
  --btn-hover-background-color: #{$accent-color};
  --btn-hover-color: #{$primary-color};

  padding: 20px 50px;
}

.home__buttons__button:first-of-type {
  margin-right: 10px;
}

@include respond("slim") {
  .home__wrapper {
    margin-top: 100px;
  }

  .home__title,
  .home__subtitle {
    font-size: 32px;
    line-height: 50px;
  }

  .home__bicons {
    margin: 50px 0;
  }

  .home__buttons {
    display: none;
  }
}
