.work {
  --btn-color: #{$complementary-color};
  --btn-hover-background-color: #{$complementary-color};
  --btn-hover-color: #{$secondary-color};

  --highlight-background-color: #{$complementary-color};
  --highlight-color: #{$secondary-color};

  --link-color: #{$complementary-color};

  --panel-color: #{$complementary-color};

  background-color: $secondary-color;
}

.work__content {
  height: calc(100% - #{$btn-size * 2});
}
