.work {
  --btn-color: #{$about-background-color};
  --btn-hover-background-color: #{$about-background-color};
  --btn-hover-color: #{$work-background-color};

  --highlight-background-color: #{$about-background-color};
  --highlight-color: #{$work-background-color};

  --link-color: #{$about-background-color};

  --panel-color: #{$about-background-color};

  background-color: $work-background-color;
}

.work__content {
  height: calc(100% - #{$btn-size * 2});
}
