<section class="panel about js-about">
  <div class="about__colorizer">
    <a href="#work" data-go-to="work" class="btn panel__nav-btn">Go to work</a>
    <a href="#" data-go-to="/" class="btn panel__nav-btn">Go to top</a>

    <div class="about__content">
      {% include components/title.html title="about" %}

      <div class="about__background">
        <p class="panel__text">
          Hi there! I'm Sergio; I have a Post-Graduate Master's Degree in Web Engineering @ University of Oviedo and I'm currently working as Technical Lead at <a class="link" href="http://www.sweetspot.com" target="blank">Sweetspot</a>.
        </p>
        <p class="panel__text">
          Since 2016 I've been organizing the <a class="link" href="http://asturiashacking.org" target="blank">AsturiasHacking</a> community.
        </p>
        <p class="panel__text">
          Thinking about traveling to the <a class="link" href="https://www.flickr.com/search/?text=asturias" target="blank">Principality of Asturias</a>? Don't hesitate to drop me a line if you want to talk about <span class="highlight">software engineering</span> or <span class="highlight">front-end development</span>!
        </p>
      </div>

      <div class="about__links">
        <a class="about__links__link" href="https://linkedin.com/in/sergioalvarezsuarez" target="blank">
          <i class="about__links__link__icon fa fa-linkedin"></i>
        </a>
        <a class="about__links__link" href="https://github.com/sergioalvz" target="blank">
          <i class="about__links__link__icon fa fa-github"></i>
        </a>
        <a class="about__links__link" href="https://twitter.com/sergioalvz_" target="blank">
          <i class="about__links__link__icon fa fa-twitter"></i>
        </a>
        <a class="about__links__link" href="https://instagram.com/sergioalvz_" target="blank">
          <i class="about__links__link__icon fa fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</section>
