<section class="panel home js-home">
  <a href="mailto:sergio@codecoolture.com" class="btn home__talk">
    Let's talk!
  </a>
  <div class="home__wrapper">
    <div class="home__wrapper__content">
      <h1 class="home__title">sergio
        <span class="home__title__strong">álvarez</span>
      </h1>
      <h2 class="home__subtitle">software engineer</h2>

      <div class="home__buttons">
        <a href="#work" data-go-to="work" class="home__buttons__button btn">
          work
        </a>
        <a href="#about" data-go-to="about" class="home__buttons__button btn">
          about
        </a>
      </div>
    </div>
  </div>
</section>
