<section class="panel home js-home">
  <a href="mailto:sergio@codecoolture.com" class="btn home__talk">
    Let's talk!
  </a>
  <div class="home__wrapper">
    <h1 class="home__title">Sergio Álvarez</h1>
    <h2 class="home__subtitle">Software Engineer</h2>

    <div class="home__bicons">
      <a class="bicon" href="https://linkedin.com/in/sergioalvarezsuarez" target="_blank" rel="noopener">
        <i class="bicon__icon fa fa-linkedin"></i>
      </a>
      <a class="bicon" href="https://github.com/sergioalvz" target="_blank" rel="noopener">
        <i class="bicon__icon fa fa-github"></i>
      </a>
      <a class="bicon" href="https://twitter.com/codecoolture" target="_blank" rel="noopener">
        <i class="bicon__icon fa fa-twitter"></i>
      </a>
      <a class="bicon" href="https://instagram.com/sergioalvz_" target="_blank" rel="noopener">
        <i class="bicon__icon fa fa-instagram"></i>
      </a>
    </div>

    <div class="home__buttons">
      <a href="#work" data-go-to="work" class="home__buttons__button btn">work</a>
      <a href="#about" data-go-to="about" class="home__buttons__button btn">about</a>
    </div>
  </div>
</section>
