<section class="panel work js-work">
  <a href="#" data-go-to="" class="btn panel__nav-btn">Go to top</a>

  <div class="work__content">
    {% include components/title.html title="work" %}

    <p class="panel__text">
      I am a <span class="highlight">Software Engineer</span> with a solid understanding of web technologies, who loves to create fully dynamic web applications, abiding by the <span class="highlight">highest quality standards</span>.
    </p>

    <p class="panel__text">
      My main area of expertise lies in <span class="highlight">designing</span> and <span class="highlight">building</span> large, enterprise-level, front-end applications built to <span class="highlight">scale flawlessly</span> while maintaining a cutting-edge <span class="highlight">user experience</span>.
    </p>

    <p class="panel__text">
      I am also passionate about sharing knowledge. As a <span class="highlight">Speaker</span>, I have spoken at events around Europe such as <a class="link" href="https://2016.codemotion.es/agenda.html#5716304078045184/85534012" target="_blank" rel="noopener">Codemotion Madrid 2016</a>, sharing my experience with writing <a class="link" href="https://www.youtube.com/watch?v=M8_9F_nh6-I" target="_blank">maintainable and scalable CSS</a>.
    </p>

    <p class="panel__text">
      I’m <span class="highlight">available</span> for <span class="highlight">freelance</span> projects and <span class="highlight">speaking</span> opportunities.
    </p>
  </div>

  <a href="#about" data-go-to="about" class="btn panel__nav-btn">Go to about</a>
</section>
