<section class="panel work" id="work">
  <a href="#" data-go-to="#home" class="btn panel__nav-btn">Go to top</a>

  <div class="work__content">
    {% include components/title.html title="work" %}

    <p class="panel__text">
      I am a
      <span class="highlight">Software Engineer</span> with a solid understanding about web technologies who likes to create fully dynamic web applications
      by following the
      <span class="highlight">highest quality standards</span>.
    </p>

    <p class="panel__text">
      My main area of expertise today is on
      <span class="highlight">building</span> and
      <span class="highlight">architecting</span> large, enterprise-ready, front-end applications
      <span class="highlight">focused on maintainability</span> and ease of change while keeping an eye on a bleeding-edge
      <span class="highlight">user experience</span>.
    </p>

    <p class="panel__text">
      As
      <span class="highlight">speaker</span> I had the opportunity to talk at Codemotion Madrid 2016 about
      <a class="link" href="https://www.youtube.com/watch?v=M8_9F_nh6-I"
        target="_blank">maintainable and scalable CSS</a>.
    </p>

    <p class="panel__text">
      <span class="highlight">I'm available for freelancing work</span>.</p>
  </div>

  <a href="#about" data-go-to="#about" class="btn panel__nav-btn">Go to about</a>
</section>
